[submodule "mozilla-ca"]
	path = mozilla-ca
	url = https://github.com/Chia-Network/mozilla-ca.git
        branch = main
[submodule "corpochain-gui"]
	path = corpochain-gui
	url = https://github.com/Corpochain-Network/corpochain-gui
