Package: corpochain-cli
Version: {{ CORPOCHAIN_INSTALLER_VERSION }}
Architecture: {{ PLATFORM }}
Maintainer: Kopalnie Krypto <kontakt@cchalniekrypto.pl>
Description: Corpochain Blockchain
 Corpochain Blockchain
 